* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color:rgb(102, 89, 72);
    color: antiquewhite;
}

body section {
    background-color: beige;
    height: 609px;
}

p {
    /* applying styles to p tags */
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: rgb(102, 89, 72);
    padding: 20px 35px;
}

button {
    color: antiquewhite;
    background-color: rgb(102, 89, 72);
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: rgb(140, 124, 104);
    border-radius: 3px;
    padding: 10px 20px;
}

footer {
    padding: 20px 35px;
    background-color:rgb(102, 89, 72);
    width: 100%;
    color: antiquewhite;
}